body {
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

img {
    width: 15%;
    height: 15%;
    border-radius: 10px;
}

h1,
.info {
    color: #ffffff;
}

.Access {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
}

.Access-btn1,
.Access-btn2 {
    background: #ffffff;
    border-radius: 50px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.Access-btn1 a,
.Access-btn2 a {
    text-decoration: none;
    color: inherit; /* Add this line to inherit the color from the parent */
}

.start {
    background-color: #ffffff;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 20%;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
}
